# Homework 4, Part 2
<br><br>
<br><br>

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%sql mysql+pymysql://dbuser:dbuserdbuser@localhost

## Introduction

- HW4, step 2 is common to all tracks.


- H4 step 2 is worth 5 points.


- Submission:
    - Format is a zip file containing a completed version of this notebook. You must name the zip file ```<uni>_W4111_F20_HW4_2.zip``` and the notebook ```<uni>_W4111_F20_HW4_2.ipynb.```
    - Due date: 13-Dec-2020, 11:59 PM.

## Tasks

- You worked with and loaded two sets of data for step 1.
    1. _Game of Thrones_ information in CSV files. I have provided an [SQL script](https://www.dropbox.com/s/mjvg3cncnidg8w2/HW4GoT.sql?dl=0) for students who were not able to load the data. You can use the script to load data for step 2.
    2. _IMDB_ information in TSV files. I have provided a [directory containing](https://www.dropbox.com/sh/u45li45stood6ia/AAByMVAjPIAV2TBtH8z9PO0Za?dl=0) compressed SQL scripts for loading the data.
    
    
- Load the data, if you were not able to complete step 1. I provide an example below.


- Game of Thrones contains the following tables.

In [9]:
%sql use hw4got;
%sql show tables;

 * mysql+pymysql://dbuser:***@localhost
0 rows affected.
 * mysql+pymysql://dbuser:***@localhost
8 rows affected.

[('character_groups',),
 ('character_relationships',),
 ('characters',),
 ('characters_actors',),
 ('episodes',),
 ('locations',),
 ('scenes',),
 ('scenes_characters',)]

- IMDB contains the following tables.

In [5]:
%sql show tables from hw4imdb;

 * mysql+pymysql://dbuser:***@localhost
7 rows affected.

[('name_basics',),
 ('title_akas',),
 ('title_basics',),
 ('title_crew',),
 ('title_episode',),
 ('title_principals',),
 ('title_ratings',)]

- A little probing of the data shows that there are connections/relationships between the data in the two data sets. For example, ```gotf20raw.characters_actors.actorLink``` almost certainly references ```imdbf20raw.name_basics.nconst.```


- HW4, step 2 requires you to:
    - Identify __five__ relationships between tables in the two datasets.
    - For each relationship you identify:
        - Write a query for the relationship that demonstrates the correctness of your choice.
        - Modify the schema to implement each of the relationship.
        - Create a view, and run a query returning rows from the views.

## Answers

## Relationship 1

<font color="blue"> actorLink in HW4GoT.characters_actors references nconst in HW4IMDB.name_basics (from example relationship given) </font>

__Verifying query__

accidentally reran the cell, so my changes to the table already appear and my tests look like duplicates

In [14]:
%%sql

select *, substr(actorLink, 7, length(actorLink)-1-6) as imdb_key_test from hw4got.characters_actors limit 10;

 * mysql+pymysql://dbuser:***@localhost
10 rows affected.

[(0, 'CH_0', 'B.J. Hogg', '/name/nm0389698/', '', 'nm0389698', 'nm0389698'),
 (1, 'CH_2', 'Michael Feast', '/name/nm0269923/', '', 'nm0269923', 'nm0269923'),
 (2, 'CH_3', 'David Rintoul', '/name/nm0727778/', '', 'nm0727778', 'nm0727778'),
 (3, 'CH_4', 'Chuku Modu', '/name/nm6729880/', '', 'nm6729880', 'nm6729880'),
 (4, 'CH_5', 'Owen Teale', '/name/nm0853583/', '', 'nm0853583', 'nm0853583'),
 (5, 'CH_6', 'Karl Davies', '/name/nm0203801/', '', 'nm0203801', 'nm0203801'),
 (6, 'CH_7', 'Megan Parkinson', '/name/nm8257864/', '', 'nm8257864', 'nm8257864'),
 (7, 'CH_8', 'Fintan McKeown', '/name/nm0571654/', '', 'nm0571654', 'nm0571654'),
 (8, 'CH_9', 'Philip McGinley', '/name/nm1528121/', '', 'nm1528121', 'nm1528121'),
 (9, 'CH_10', 'Jim Broadbent', '/name/nm0000980/', '', 'nm0000980', 'nm0000980')]

<font color="blue">  it looks like the actorLink attribute in HW4GoT is a relative hyperlink to more information about the character in imdb </font>

To verify this pattern, we see if the pattern is violated anywhere:

-- first we make the imdb_key column and populate it with the substring of actorLink
update hw4got.characters_actors
set imdb_key = substr(actorLink, 7, length(actorLink)-1-6);

In [18]:
%%sql
select distinct actorName, imdb_key
from hw4got.characters_actors 
where imdb_key not in 
	(select nconst from hw4imdb.name_basics) limit 10;

 * mysql+pymysql://dbuser:***@localhost
6 rows affected.

[('Hafþór Júlíus Björnsson', 'nm5491087'),
 ('Kae Alexander', 'nm5221696'),
 ("Barry John O'Connor", 'nm3226454'),
 ('Sarah MacKeever', 'nm5223922'),
 ("Barry O'Connor", 'nm'),
 ('Michael Patrick', 'nm8199963')]

ok, there are only 5 actors that violate this pattern. so there's some sort of data error here

__DDL statements modifying schema__

This is roughly what we need to do:

* need an index on nconst of name_basics if we want to link actorLink and nconst
* put a PK constraint on nconst of HW4IMDB.name_basics
* put a PK constraint on id of HW4GoT.characters_actors
* added a column on HW4GoT.character_actors called imdb_key
* populate imdb_key of character_actors with the correct substring

CREATE TABLE `name_basics` (
  `nconst` varchar(128) NOT NULL,
  `primary_name` varchar(128) DEFAULT NULL,
  `birth_year` varchar(45) DEFAULT NULL,
  `death_year` varchar(45) DEFAULT NULL,
  `primary_profession` varchar(128) DEFAULT NULL,
  `known_for_titles` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`nconst`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


CREATE TABLE `characters_actors` (
  `id` int NOT NULL,
  `character_id` text COLLATE utf8mb4_bin,
  `actorName` varchar(256) COLLATE utf8mb4_bin DEFAULT NULL,
  `actorLink` text COLLATE utf8mb4_bin,
  `season` text COLLATE utf8mb4_bin,
  `imdb_key` varchar(16) COLLATE utf8mb4_bin DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;

If we follow the hyperlinks specified by the relative paths in the actorLink attribute, we see that the imdb site redirects us to the actor's page, but with a different relative path. 

If we search for these new nconsts (given in the redirected relative paths) in the name_basics table, we see that we can successfully find the actors. 

So for these 5 actors, the nconst in character_actors and name_basics don't match. 

__To Fix this__:
* we update these 5 actors' actorLink in character_actors
* drop the current actorLink, and then make actorLink a generated column so there's no violation of normalization

Here's the correct mapping (given in Piazza/office hours):
<img src="./actorname_mapping.png">

__Changes__

-- populating with correct values
UPDATE hw4got.characters_actors
	SET imdb_key = 
		CASE WHEN imdb_key = "nm5491087" THEN "nm5485781"
          WHEN imdb_key = "nm5221696" THEN "nm3664502"
          WHEN imdb_key = "nm3226454" THEN "nm1239578"
          WHEN imdb_key = "nm" THEN "nm1239578"
          WHEN imdb_key = "nm5223922" THEN "nm5193652"
          WHEN imdb_key = "nm8199963" THEN "nm7504777"
		ELSE imdb_key
	END;

-- drop the current actorLink and making actorLink a generated column (virtual so it's calculated each time its read)
ALTER TABLE `HW4GoT`.`characters_actors` 
DROP COLUMN `actorLink`;

ALTER TABLE `HW4GoT`.`characters_actors` 
ADD COLUMN `actorLink` VARCHAR(45) GENERATED ALWAYS AS (concat('/name/', imdb_key, '/')) VIRTUAL AFTER `imdb_key`;


--adding foreign key

--had to change table collation first
alter table hw4got.characters_actors convert to character set utf8mb4 collate utf8mb4_0900_ai_ci;

ALTER TABLE `HW4GoT`.`characters_actors` 
ADD INDEX `ca_to_name_fk_idx` (`imdb_key` ASC) VISIBLE;
;
ALTER TABLE `HW4GoT`.`characters_actors` 
ADD CONSTRAINT `ca_to_name_fk`
  FOREIGN KEY (`imdb_key`)
  REFERENCES `hw4imdb`.`name_basics` (`nconst`)
  ON DELETE NO ACTION
  ON UPDATE NO ACTION;

__View Test__

create view statement:

create view got_actor_info as
select primary_name, imdb_key, actorLink, season, character_id, birth_year, death_year, primary_profession, known_for_titles
from hw4imdb.name_basics a
join hw4got.characters_actors b on a.nconst=b.imdb_key;

In [65]:
%%sql

select * from got_actor_info limit 10;

 * mysql+pymysql://dbuser:***@localhost
10 rows affected.

[('B.J. Hogg', 'nm0389698', '/name/nm0389698/', '', 'CH_0', '1955', '2020', 'actor,music_department', 'tt0986233,tt0970411,tt1240982,tt0944947'),
 ('Michael Feast', 'nm0269923', '/name/nm0269923/', '', 'CH_2', '1946', None, 'actor,composer', 'tt0472160,tt0362192,tt0120879,tt0162661'),
 ('David Rintoul', 'nm0727778', '/name/nm0727778/', '', 'CH_3', '1948', None, 'actor', 'tt1655420,tt1139328,tt4786824,tt0944947'),
 ('Chuku Modu', 'nm6729880', '/name/nm6729880/', '', 'CH_4', '1990', None, 'actor,writer,producer', 'tt6470478,tt0944947,tt2674426,tt4154664'),
 ('Owen Teale', 'nm0853583', '/name/nm0853583/', '', 'CH_5', '1961', None, 'actor', 'tt0944947,tt0462396,tt0102797,tt0485301'),
 ('Karl Davies', 'nm0203801', '/name/nm0203801/', '', 'CH_6', '1982', None, 'actor,producer', 'tt7366338,tt0944947,tt3428912,tt2261331'),
 ('Megan Parkinson', 'nm8257864', '/name/nm8257864/', '', 'CH_7', None, None, 'actress', 'tt6636246,tt4276618,tt5761478,tt0944947'),
 ('Fintan McKeown', 'nm0571654', '/name/nm0571654/', '', 'CH_8', None, None, 'actor', 'tt0111904,tt1199099,tt0944947,tt0112178'),
 ('Philip McGinley', 'nm1528121', '/name/nm1528121/', '', 'CH_9', '1981', None, 'actor', 'tt1446714,tt0944947,tt0053494,tt4015216'),
 ('Jim Broadbent', 'nm0000980', '/name/nm0000980/', '', 'CH_10', '1949', None, 'actor,writer,soundtrack', 'tt0203009,tt0151568,tt1431181,tt1007029')]

let's see which of the actors in GoT have died

In [66]:
%%sql 
select * from got_actor_info where death_year IS NOT NULL;

 * mysql+pymysql://dbuser:***@localhost
11 rows affected.

[('B.J. Hogg', 'nm0389698', '/name/nm0389698/', '', 'CH_0', '1955', '2020', 'actor,music_department', 'tt0986233,tt0970411,tt1240982,tt0944947'),
 ('Roy Dotrice', 'nm0234541', '/name/nm0234541/', '', 'CH_92', '1923', '2017', 'actor,writer', 'tt0092319,tt0104040,tt0411477,tt0086879'),
 ('Gordon Fulton', 'nm1101680', '/name/nm1101680/', '', 'CH_176', '1949', '2016', 'actor', 'tt3101352,tt0944947,tt0118910,tt5116280'),
 ("Jer O'Leary", 'nm0641596', '/name/nm0641596/', '', 'CH_178', None, '2018', 'actor', 'tt0298845,tt0097937,tt0117039,tt0107207'),
 ('Peter Vaughan', 'nm0891092', '/name/nm0891092/', '', 'CH_186', '1923', '2016', 'actor,soundtrack', 'tt0795368,tt0081633,tt0088846,tt0067800'),
 ('Neil Fingleton', 'nm2807170', '/name/nm2807170/', '', 'CH_190', '1980', '2017', 'actor,stunts,miscellaneous', 'tt1617661,tt1335975,tt1270798,tt2395427'),
 ('Boyd Rankin', 'nm4595425', '/name/nm4595425/', '', 'CH_213', '1945', '2019', 'miscellaneous,actor,stunts', 'tt0349683,tt1240982,tt0944947,tt1734582'),
 ('Margaret John', 'nm0424191', '/name/nm0424191/', '', 'CH_246', '1926', '2011', 'actress,soundtrack', 'tt0944947,tt0076987,tt0425413,tt0135088'),
 ('Diana Rigg', 'nm0001671', '/name/nm0001671/', '', 'CH_248', '1938', '2020', 'actress,soundtrack,costume_department', 'tt0054518,tt0944947,tt0064757,tt0446755'),
 ('Mary Jordan', 'nm1103771', '/name/nm1103771/', '', 'CH_304', '1913', '1973', 'actress', 'tt0129723,tt0056773,tt4652844,tt0396378'),
 ('Max von Sydow', 'nm0001884', '/name/nm0001884/', '6.0', 'CH_339', '1929', '2020', 'actor,soundtrack,director', 'tt0050976,tt0080745,tt0181689,tt0477302')]

## Relationship 2

__One or two sentence description__

<font color="blue"> episodeLink in HW4GoT.episodes references tconst in HW4IMDB.title_basics </font>


<br><br>

__Verifying query__

In [22]:
%%sql

select *, substr(episodeLink, 8, length(episodeLink)-1-7) as title_key from hw4got.episodes limit 5;

 * mysql+pymysql://dbuser:***@localhost
5 rows affected.

[(0, 1, 1, 'Winter Is Coming', '/title/tt1480055/', '2011-04-17', "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.", 'tt1480055'),
 (1, 1, 2, 'The Kingsroad', '/title/tt1668746/', '2011-04-24', "While Bran recovers from his fall, Ned takes only his daughters to King's Landing. Jon Snow goes with his uncle Benjen to The Wall. Tyrion joins them.", 'tt1668746'),
 (2, 1, 3, 'Lord Snow', '/title/tt1829962/', '2011-05-01', "Lord Stark and his daughters arrive at King's Landing to discover the intrigues of the king's realm.", 'tt1829962'),
 (3, 1, 4, 'Cripples, Bastards, and Broken Things', '/title/tt1829963/', '2011-05-08', "Eddard investigates Jon Arryn's murder. Jon befriends Samwell Tarly, a coward who has come to join the Night's Watch.", 'tt1829963'),
 (4, 1, 5, 'The Wolf and the Lion', '/title/tt1829964/', '2011-05-15', 'Catelyn has captured Tyrion and plans to bring him to her sister, Lysa Arryn, at The Vale, to be tried for his, supposed, crimes against Bran. Robert plans to have Daenerys killed, but Eddard refuses to be a part of it and quits.', 'tt1829964')]

In [23]:
%%sql

select tconst from hw4imdb.title_basics limit 5;

 * mysql+pymysql://dbuser:***@localhost
5 rows affected.

[('tt0000001',),
 ('tt0000002',),
 ('tt0000003',),
 ('tt0000004',),
 ('tt0000005',)]

Looks like these follow the same pattern. Let's see if any titles don't follow the same pattern

Preparing our test:

-- adding column on episodes table
ALTER TABLE `HW4GoT`.`episodes` 
ADD COLUMN `title_key` VARCHAR(64) NULL AFTER `episodeDescription`;

-- filling it in
update hw4got.episodes
set title_key = substr(episodeLink, 8, length(episodeLink)-1-7);

In [24]:
%sql select * from hw4got.episodes limit 5;

 * mysql+pymysql://dbuser:***@localhost
5 rows affected.

[(0, 1, 1, 'Winter Is Coming', '/title/tt1480055/', '2011-04-17', "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.", 'tt1480055'),
 (1, 1, 2, 'The Kingsroad', '/title/tt1668746/', '2011-04-24', "While Bran recovers from his fall, Ned takes only his daughters to King's Landing. Jon Snow goes with his uncle Benjen to The Wall. Tyrion joins them.", 'tt1668746'),
 (2, 1, 3, 'Lord Snow', '/title/tt1829962/', '2011-05-01', "Lord Stark and his daughters arrive at King's Landing to discover the intrigues of the king's realm.", 'tt1829962'),
 (3, 1, 4, 'Cripples, Bastards, and Broken Things', '/title/tt1829963/', '2011-05-08', "Eddard investigates Jon Arryn's murder. Jon befriends Samwell Tarly, a coward who has come to join the Night's Watch.", 'tt1829963'),
 (4, 1, 5, 'The Wolf and the Lion', '/title/tt1829964/', '2011-05-15', 'Catelyn has captured Tyrion and plans to bring him to her sister, Lysa Arryn, at The Vale, to be tried for his, supposed, crimes against Bran. Robert plans to have Daenerys killed, but Eddard refuses to be a part of it and quits.', 'tt1829964')]

In [25]:
%%sql 
select *
from hw4got.episodes 
where title_key not in 
	(select tconst from hw4imdb.title_basics);

 * mysql+pymysql://dbuser:***@localhost
0 rows affected.

[]

nice! so there isn't any data that violates this pattern!

__DDL statements modifying schema__

* to normalize this data, I'm going to drop the current episodeLink column in hw4got.episodes and make it into a generated column
* then, we'll add a foreign key to map episodes to title_basics

Here's the create table statements that we're starting out with:

CREATE TABLE `title_basics` (
  `tconst` varchar(64) NOT NULL,
  `ttype` varchar(64) DEFAULT NULL,
  `primary_title` varchar(512) DEFAULT NULL,
  `original_title` varchar(512) DEFAULT NULL,
  `is_adult` varchar(32) DEFAULT NULL,
  `start_year` varchar(45) DEFAULT NULL,
  `end_year` varchar(45) DEFAULT NULL,
  `runtime` varchar(45) DEFAULT NULL,
  `genres` varchar(256) DEFAULT NULL,
  PRIMARY KEY (`tconst`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

CREATE TABLE `episodes` (
  `id` int NOT NULL,
  `seasonNum` int DEFAULT NULL,
  `episodeNum` int DEFAULT NULL,
  `episodeTitle` text COLLATE utf8mb4_bin,
  `episodeLink` text COLLATE utf8mb4_bin,
  `episodeAirDate` text COLLATE utf8mb4_bin,
  `episodeDescription` text COLLATE utf8mb4_bin,
  `title_key` varchar(64) COLLATE utf8mb4_bin DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;

fixing episodeLink in hw4got.episodes

--dropping episodeLink
ALTER TABLE `HW4GoT`.`episodes` 
DROP COLUMN `episodeLink`;

--adding generated column
ALTER TABLE `HW4GoT`.`episodes` 
ADD COLUMN `episodeLink` VARCHAR(64) GENERATED ALWAYS AS (concat('/title/',  title_key, '/')) AFTER `title_key`;

adding a FK to map episodes to title_basics

--had to change table collation first
alter table hw4got.episodes convert to character set utf8mb4 collate utf8mb4_0900_ai_ci;

--adding FK
ALTER TABLE `HW4GoT`.`episodes` 
ADD INDEX `episodes_to_title_fk_idx` (`title_key` ASC) VISIBLE;
;
ALTER TABLE `HW4GoT`.`episodes` 
ADD CONSTRAINT `episodes_to_title_fk`
  FOREIGN KEY (`title_key`)
  REFERENCES `hw4imdb`.`title_basics` (`tconst`)
  ON DELETE NO ACTION
  ON UPDATE NO ACTION;

__View Test__

-- create view statement 
create view got_episode_info as
SELECT title_key, 
	episodeLink, 
    seasonNum, 
    episodeNum, 
    episodeTitle, 
    episodeAirDate, 
    episodeDescription, 
    is_adult,
    runtime,
    genres
FROM HW4GoT.episodes a
JOIN hw4imdb.title_basics b on a.title_key=b.tconst;

In [69]:
%%sql
select * from hw4got.got_episode_info order by is_adult desc limit 5;

 * mysql+pymysql://dbuser:***@localhost
5 rows affected.

[('tt1480055', '/title/tt1480055/', 1, 1, 'Winter Is Coming', '2011-04-17', "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.", '0', '62', 'Action,Adventure,Drama'),
 ('tt1668746', '/title/tt1668746/', 1, 2, 'The Kingsroad', '2011-04-24', "While Bran recovers from his fall, Ned takes only his daughters to King's Landing. Jon Snow goes with his uncle Benjen to The Wall. Tyrion joins them.", '0', '56', 'Action,Adventure,Drama'),
 ('tt1829962', '/title/tt1829962/', 1, 3, 'Lord Snow', '2011-05-01', "Lord Stark and his daughters arrive at King's Landing to discover the intrigues of the king's realm.", '0', '58', 'Action,Adventure,Drama'),
 ('tt1829963', '/title/tt1829963/', 1, 4, 'Cripples, Bastards, and Broken Things', '2011-05-08', "Eddard investigates Jon Arryn's murder. Jon befriends Samwell Tarly, a coward who has come to join the Night's Watch.", '0', '56', 'Action,Adventure,Drama'),
 ('tt1829964', '/title/tt1829964/', 1, 5, 'The Wolf and the Lion', '2011-05-15', 'Catelyn has captured Tyrion and plans to bring him to her sister, Lysa Arryn, at The Vale, to be tried for his, supposed, crimes against Bran. Robert plans to have Daenerys killed, but Eddard refuses to be a part of it and quits.', '0', '55', 'Action,Adventure,Drama')]

uhhh why are none of them rated for adults? is the R rating not enough?

anyway, let's find the shortest episodes. I don't have that much time to spare, so I want to watch the shortest episodes:

In [73]:
%%sql 
select * from hw4got.got_episode_info order by runtime asc limit 3

 * mysql+pymysql://dbuser:***@localhost
3 rows affected.

[('tt3658014', '/title/tt3658014/', 6, 1, 'The Red Woman', '2016-04-24', 'The fate of Jon Snow is revealed. Daenerys is brought before Khal Moro. Tyrion gets used to living in Meereen. Ramsay sends his dogs after Theon and Sansa. Ellaria and the Sand Snakes make their move. Cersei mourns for Myrcella.', '0', '50', 'Action,Adventure,Drama'),
 ('tt5775846', '/title/tt5775846/', 7, 4, 'The Spoils of War', '2017-08-06', 'Daenerys takes matters into her own hands. Arya reaches her destination. Jaime and Bronn collect the spoils from the war with the Tyrells.', '0', '50', 'Action,Adventure,Drama'),
 ('tt4283060', '/title/tt4283060/', 6, 7, 'The Broken Man', '2016-06-05', "Jon and Sansa gather troops. Jaime arrives at Riverrun. Olenna Tyrell plans to leave King's Landing. Theon and Yara plan a destination. Arya makes plans to leave.", '0', '51', 'Action,Adventure,Drama')]

50 minutes is still a lot...

## Relationship 3

__One or two sentence description__

<font color="blue"> episodeLink in HW4GoT.episodes references tconst in HW4IMDB.title_episode </font>

<br><br>

__Verifying query__

In [31]:
%%sql
select title_key, episodeLink from hw4got.episodes limit 10;

 * mysql+pymysql://dbuser:***@localhost
10 rows affected.

[('tt1480055', '/title/tt1480055/'),
 ('tt1668746', '/title/tt1668746/'),
 ('tt1829962', '/title/tt1829962/'),
 ('tt1829963', '/title/tt1829963/'),
 ('tt1829964', '/title/tt1829964/'),
 ('tt1837862', '/title/tt1837862/'),
 ('tt1837863', '/title/tt1837863/'),
 ('tt1837864', '/title/tt1837864/'),
 ('tt1851398', '/title/tt1851398/'),
 ('tt1851397', '/title/tt1851397/')]

In [29]:
%%sql
select * from hw4imdb.title_episode limit 10;

 * mysql+pymysql://dbuser:***@localhost
10 rows affected.

[('tt0041951', 'tt0041038', '1', '9'),
 ('tt0042816', 'tt0989125', '1', '17'),
 ('tt0042889', 'tt0989125', None, None),
 ('tt0043426', 'tt0040051', '3', '42'),
 ('tt0043631', 'tt0989125', '2', '16'),
 ('tt0043693', 'tt0989125', '2', '8'),
 ('tt0043710', 'tt0989125', '3', '3'),
 ('tt0044093', 'tt0959862', '1', '6'),
 ('tt0044668', 'tt0044243', '2', '16'),
 ('tt0044901', 'tt0989125', '3', '46')]

looks like tconst and the title_key we just made follows the same pattern! Let's check for sure:

In [30]:
%%sql 
select *
from hw4got.episodes 
where title_key not in 
	(select tconst from hw4imdb.title_episode);

 * mysql+pymysql://dbuser:***@localhost
0 rows affected.

[]

yay!

__DDL statements modifying schema__

* since we already have the episodeLink as a generated column, all we need to do is add a foreign key!

--adding foreign key

ALTER TABLE `HW4GoT`.`episodes` 
ADD CONSTRAINT `episodes_to_titleep_fk`
  FOREIGN KEY (`title_key`)
  REFERENCES `hw4imdb`.`title_episode` (`tconst`)
  ON DELETE NO ACTION
  ON UPDATE NO ACTION;

__View Test__

there's not really any new information we can glean from the hw4imdb.title_episode table that we don't already have in the hw4got.episodes table

So this view isn't really useful, but this is only demonstrating the relationships between the schemas anyway...soo

-- create view statement
create view got_episodes as
select seasonNum, episodeNum, episodeTitle, episodeAirDate, episodeDescription, tconst, episodeLink
from hw4got.episodes a
join hw4imdb.title_episode b on a.title_key = b.tconst;

In [33]:
%%sql
select * from got_episodes limit 10;

 * mysql+pymysql://dbuser:***@localhost
10 rows affected.

[(1, 1, 'Winter Is Coming', '2011-04-17', "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.", 'tt1480055', '/title/tt1480055/'),
 (1, 2, 'The Kingsroad', '2011-04-24', "While Bran recovers from his fall, Ned takes only his daughters to King's Landing. Jon Snow goes with his uncle Benjen to The Wall. Tyrion joins them.", 'tt1668746', '/title/tt1668746/'),
 (1, 3, 'Lord Snow', '2011-05-01', "Lord Stark and his daughters arrive at King's Landing to discover the intrigues of the king's realm.", 'tt1829962', '/title/tt1829962/'),
 (1, 4, 'Cripples, Bastards, and Broken Things', '2011-05-08', "Eddard investigates Jon Arryn's murder. Jon befriends Samwell Tarly, a coward who has come to join the Night's Watch.", 'tt1829963', '/title/tt1829963/'),
 (1, 5, 'The Wolf and the Lion', '2011-05-15', 'Catelyn has captured Tyrion and plans to bring him to her sister, Lysa Arryn, at The Vale, to be tried for his, supposed, crimes against Bran. Robert plans to have Daenerys killed, but Eddard refuses to be a part of it and quits.', 'tt1829964', '/title/tt1829964/'),
 (1, 6, 'A Golden Crown', '2011-05-22', 'While recovering from his battle with Jaime, Eddard is forced to run the kingdom while Robert goes hunting. Tyrion demands a trial by combat for his freedom. Viserys is losing his patience with Drogo.', 'tt1837862', '/title/tt1837862/'),
 (1, 7, 'You Win or You Die', '2011-05-29', "Robert has been injured while hunting and is dying. Jon and the others finally take their vows to the Night's Watch. A man, sent by Robert, is captured for trying to poison Daenerys. Furious, Drogo vows to attack the Seven Kingdoms.", 'tt1837863', '/title/tt1837863/'),
 (1, 8, 'The Pointy End', '2011-06-05', 'Eddard and his men are betrayed and captured by the Lannisters. When word reaches Robb, he plans to go to war to rescue them. The White Walkers attack The Wall. Tyrion returns to his father with some new friends.', 'tt1837864', '/title/tt1837864/'),
 (1, 9, 'Baelor', '2011-06-12', "Robb goes to war against the Lannisters. Jon finds himself struggling on deciding if his place is with Robb or the Night's Watch. Drogo has fallen ill from a fresh battle wound. Daenerys is desperate to save him.", 'tt1851398', '/title/tt1851398/'),
 (1, 10, 'Fire and Blood', '2011-06-19', "With Ned dead, Robb vows to get revenge on the Lannisters. Jon must officially decide if his place is with Robb or the Night's Watch. Daenerys says her final goodbye to Drogo.", 'tt1851397', '/title/tt1851397/')]

## Relationship 4

__One or two sentence description__

<font color="blue"> episodeLink in hw4got.episodes references tconst in hw4imdb.title_ratings </font>
<br><br>

__Verifying query__

In [34]:
%%sql
select title_key, episodeLink from hw4got.episodes limit 10;

 * mysql+pymysql://dbuser:***@localhost
10 rows affected.

[('tt1480055', '/title/tt1480055/'),
 ('tt1668746', '/title/tt1668746/'),
 ('tt1829962', '/title/tt1829962/'),
 ('tt1829963', '/title/tt1829963/'),
 ('tt1829964', '/title/tt1829964/'),
 ('tt1837862', '/title/tt1837862/'),
 ('tt1837863', '/title/tt1837863/'),
 ('tt1837864', '/title/tt1837864/'),
 ('tt1851398', '/title/tt1851398/'),
 ('tt1851397', '/title/tt1851397/')]

In [35]:
%%sql 
select * from hw4imdb.title_ratings limit 10;

 * mysql+pymysql://dbuser:***@localhost
10 rows affected.

[('tt0000001', '5.6', '1664'),
 ('tt0000002', '6.1', '205'),
 ('tt0000003', '6.5', '1381'),
 ('tt0000004', '6.2', '123'),
 ('tt0000005', '6.2', '2167'),
 ('tt0000006', '5.3', '117'),
 ('tt0000007', '5.4', '663'),
 ('tt0000008', '5.4', '1832'),
 ('tt0000009', '6.0', '154'),
 ('tt0000010', '6.9', '6099')]

ok, so they follow the same general format. let's make sure there's no bad data

In [36]:
%%sql 
select *
from hw4got.episodes 
where title_key not in 
	(select tconst from hw4imdb.title_ratings);

 * mysql+pymysql://dbuser:***@localhost
0 rows affected.

[]

:D yay!

__DDL statements modifying schema__

* since we already have the episodeLink as a generated column, all we need to do is add a foreign key to finish cleaning!

ALTER TABLE `HW4GoT`.`episodes` 
ADD CONSTRAINT `episodes_to_ratings_fk`
  FOREIGN KEY (`title_key`)
  REFERENCES `hw4imdb`.`title_ratings` (`tconst`)
  ON DELETE NO ACTION
  ON UPDATE NO ACTION;

__View Test__

This view is more useful than the last one-- you could use this if you wanted to access the ratings of a specific GoT episode easily, which I'd imagine would be a common query

create view got_episode_rankings as
select a.*, rating, votes
from hw4got.episodes a
join hw4imdb.title_ratings b
on a.title_key = b.tconst;

below are the highest rated episodes of GoT, pretty neat

In [64]:
%%sql
select * from got_episode_rankings order by rating desc limit 3;

 * mysql+pymysql://dbuser:***@localhost
3 rows affected.

[(59, 6, 10, 'The Winds of Winter', '2016-06-26', 'Cersei and Loras Tyrell stand trial by the gods. Daenerys prepares to set sail for Westeros. Davos confronts Melisandre. Sam and Gilly arrive in Oldtown. Bran discovers a long kept secret. Lord Frey has an uninvited guest.', 'tt4283094', '/title/tt4283094/', '9.9', '131284'),
 (58, 6, 9, 'Battle of the Bastards', '2016-06-19', 'Jon and Sansa face Ramsay Bolton on the fields of Winterfell. Daenerys strikes back at her enemies. Theon and Yara arrive in Meereen.', 'tt4283088', '/title/tt4283088/', '9.9', '188349'),
 (47, 5, 8, 'Hardhome', '2015-05-31', 'Tyrion advises Daenerys. Sansa forces Theon to tell her a secret. Cersei remains stubborn. Arya meets her first target. Jon and Tormund meet with the Wildling Elders.', 'tt3866850', '/title/tt3866850/', '9.9', '89046')]

## Relationship 5

<font color="blue"> episodeLink in hw4got.episodes references tconst in hw4imdb.title_principals </font> 

<br><br>

__Verifying query__

In [42]:
%%sql 
select title_key, episodeLink from hw4got.episodes limit 10;

 * mysql+pymysql://dbuser:***@localhost
10 rows affected.

[('tt1480055', '/title/tt1480055/'),
 ('tt1668746', '/title/tt1668746/'),
 ('tt1829962', '/title/tt1829962/'),
 ('tt1829963', '/title/tt1829963/'),
 ('tt1829964', '/title/tt1829964/'),
 ('tt1837862', '/title/tt1837862/'),
 ('tt1837863', '/title/tt1837863/'),
 ('tt1837864', '/title/tt1837864/'),
 ('tt1851398', '/title/tt1851398/'),
 ('tt1851397', '/title/tt1851397/')]

In [43]:
%%sql
select tconst from hw4imdb.title_principals limit 10;

 * mysql+pymysql://dbuser:***@localhost
10 rows affected.

[('tt0000001',),
 ('tt0000001',),
 ('tt0000001',),
 ('tt0000002',),
 ('tt0000002',),
 ('tt0000003',),
 ('tt0000003',),
 ('tt0000003',),
 ('tt0000003',),
 ('tt0000004',)]

surprise surprise, they look like they follow the same pattern. like always, let's make sure

In [45]:
%%sql
select *
from hw4got.episodes 
where title_key not in 
	(select tconst from hw4imdb.title_principals);

 * mysql+pymysql://dbuser:***@localhost
0 rows affected.

[]

niiiiiiice

__DDL statements modifying schema__

like before, we already normalized the episodeLink so we just have to add the foreign key on hw4got.episodes!

ALTER TABLE `HW4GoT`.`episodes` 
ADD CONSTRAINT `episodes_to_principals_fk`
  FOREIGN KEY (`title_key`)
  REFERENCES `hw4imdb`.`title_principals` (`tconst`)
  ON DELETE NO ACTION
  ON UPDATE NO ACTION;

__View Test__

The title_principals table gives us the principal cast and crew for titles. This is super cool because we can see the principal cast and crew for each episode!

create view got_principals as
select seasonNum,
    episodeNum, 
    episodeTitle,
    episodeAirDate, 
    episodeLink, 
    episodeDescription, 
    category, 
    job, 
    characters, 
    primary_name, 
    primary_profession 
from 
(select 
    seasonNum, 
    episodeNum, 
    episodeTitle, 
    episodeAirDate, 
    episodeLink, 
    episodeDescription, 
    category, 
    nconst, 
    job, 
    characters
from hw4got.episodes a
join hw4imdb.title_principals b on a.title_key = b.tconst) as c
join hw4imdb.name_basics d on c.nconst = d.nconst;

using two of the foreign keys that we made!

In [48]:
%%sql 
select * from got_principals limit 5;

 * mysql+pymysql://dbuser:***@localhost
5 rows affected.

[(1, 1, 'Winter Is Coming', '2011-04-17', '/title/tt1480055/', "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.", 'actor', None, '["Eddard \'Ned\' Stark"]', 'Sean Bean', 'actor,producer,animation_department'),
 (1, 1, 'Winter Is Coming', '2011-04-17', '/title/tt1480055/', "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.", 'producer', 'producer', None, 'Frank Doelger', 'producer,director,writer'),
 (1, 1, 'Winter Is Coming', '2011-04-17', '/title/tt1480055/', "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.", 'actor', None, '["Robert Baratheon"]', 'Mark Addy', 'actor,soundtrack'),
 (1, 1, 'Winter Is Coming', '2011-04-17', '/title/tt1480055/', "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.", 'actor', None, '["Jaime Lannister"]', 'Nikolaj Coster-Waldau', 'actor,producer,writer'),
 (1, 1, 'Winter Is Coming', '2011-04-17', '/title/tt1480055/', "Jon Arryn, the Hand of the King, is dead. King Robert Baratheon plans to ask his oldest friend, Eddard Stark, to take Jon's place. Across the sea, Viserys Targaryen plans to wed his sister to a nomadic warlord in exchange for an army.", 'actress', None, '["Catelyn Stark"]', 'Michelle Fairley', 'actress')]

there's clearly some formatting issues with the characters column, but I'm just going to ignore that....

a more ~ fun ~ query. I really hate Cersei's character (Lena Headey), so I want the list of all the episodes where she's featured so I can avoid those episodes

In [62]:
%%sql 

select * from got_principals where primary_name="Lena Headey" order by seasonNum, episodeNum asc limit 3;

 * mysql+pymysql://dbuser:***@localhost
3 rows affected.

[(1, 6, 'A Golden Crown', '2011-05-22', '/title/tt1837862/', 'While recovering from his battle with Jaime, Eddard is forced to run the kingdom while Robert goes hunting. Tyrion demands a trial by combat for his freedom. Viserys is losing his patience with Drogo.', 'actress', None, '["Cersei Lannister"]', 'Lena Headey', 'actress,soundtrack,producer'),
 (1, 7, 'You Win or You Die', '2011-05-29', '/title/tt1837863/', "Robert has been injured while hunting and is dying. Jon and the others finally take their vows to the Night's Watch. A man, sent by Robert, is captured for trying to poison Daenerys. Furious, Drogo vows to attack the Seven Kingdoms.", 'actress', None, '["Cersei Lannister"]', 'Lena Headey', 'actress,soundtrack,producer'),
 (1, 8, 'The Pointy End', '2011-06-05', '/title/tt1837864/', 'Eddard and his men are betrayed and captured by the Lannisters. When word reaches Robb, he plans to go to war to rescue them. The White Walkers attack The Wall. Tyrion returns to his father with some new friends.', 'actress', None, '["Cersei Lannister"]', 'Lena Headey', 'actress,soundtrack,producer')]

<font color="blue"> I've only watched the first season of GoT and I was going to search for Joffrey's character instead because he's so annoying, but he's not a "main" enough character to be in the title_principals table. :/ </font>